<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.fitnessClub.mapper.ArticlePictureMapper">

    <!-- int insert(ArticlePicture articlePicture); -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO bms_article_picture (
            article_id, url, description, width, height, is_cover, sort
        ) VALUES (
            #{articleId}, #{url}, #{description}, #{width},
            #{height}, #{isCover}, #{sort}
        )
    </insert>

    <!-- int insertBatch(List<ArticlePicture> pictureList); -->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO bms_article_picture (
        article_id, url, description, width, height, is_cover, sort
        ) VALUES
        <foreach collection="list" item="picture" separator=",">
            (#{picture.articleId}, #{picture.url}, #{picture.description}, #{picture.width},
            #{picture.height}, #{picture.isCover}, #{picture.sort})
        </foreach>
    </insert>

    <!-- int deleteById(Long id); -->
    <delete id="deleteById">
        DELETE FROM bms_article_picture WHERE id=#{id}
    </delete>

    <!-- int deleteByIds(Long ids); -->
    <delete id="deleteByIds">
        DELETE FROM bms_article_picture WHERE id IN (
            <foreach collection="array" item="id" separator=",">
                #{id}
            </foreach>
        )
    </delete>
    <!--int deleteByArticleId(Long id);-->
    <!--根据文章id删除图片-->
    <delete id="deleteByArticleId">
        DELETE FROM bms_article_picture WHERE article_id=#{articleId}
    </delete>

    <!-- int update(ArticlePicture picture); -->
    <update id="update">
        UPDATE bms_article_picture
        <set>
            <if test="url != null">
                url=#{url},
            </if>
            <if test="description != null">
                description=#{description},
            </if>
            <if test="width != null">
                width=#{width},
            </if>
            <if test="sort != null">
                height=#{height},
            </if>
            <if test="sort != null">
                sort=#{sort},
            </if>
        </set>
        WHERE id=#{id}
    </update>
    <!--根据article_id查询封面图片id-->
    <select id="selectPictureIdByArticleId" resultType="long">
        SELECT id FROM bms_article_picture WHERE article_id=#{articleId}
    </select>

    <!-- int count(); -->
    <select id="count" resultType="int">
        SELECT count(*) FROM bms_article_picture
    </select>

    <!-- int countByArticleId(Long articleId); -->
    <select id="countByArticleId" resultType="int">
        SELECT count(*) FROM bms_article_picture WHERE article_id=#{articleId}
    </select>

    <!-- ArticlePictureStandardVO getStandardById(Long id); -->
    <select id="getStandardById" resultMap="StandardResultMap">
        SELECT
            <include refid="StandardQueryFields"/>
        FROM
        bms_article_picture
        WHERE
            id=#{id}
    </select>

    <!--根据文章ID查询文章图片详情getStandardByArticleId-->
    <select id="getStandardByArticleId" resultMap="StandardResultMap"  >
        SELECT
        <include refid="StandardQueryFields"/>
        FROM
        bms_article_picture
        WHERE
        article_id=#{articleId}
    </select>

    <!-- List<ArticlePictureListItemVO> list(); -->
    <select id="list" resultMap="ListResultMap">
        SELECT
            <include refid="ListQueryFields"/>
        FROM
        bms_article_picture
        ORDER BY
            sort DESC, id DESC
    </select>

    <!-- List<ArticlePictureListItemVO> listByArticleId(Long articleId); -->
    <select id="listByArticleId" resultMap="ListResultMap">
        SELECT
            <include refid="ListQueryFields"/>
        FROM
        bms_article_picture
        WHERE
            article_id=#{articleId}
        ORDER BY
            sort DESC, id DESC
    </select>
    <select id="getStandardByArticle" resultType="cn.tedu.fitnessClub.pojo.vo.ArticlePictureStandardVO">
        SELECT
        <include refid="StandardQueryFields"/>
        FROM
        bms_article_picture
        WHERE
        article_id=#{articleId}
    </select>

    <sql id="StandardQueryFields">
        <if test="true">
            id, article_id, url, description, width, height, is_cover, sort
        </if>
    </sql>

    <resultMap id="StandardResultMap" type="cn.tedu.fitnessClub.pojo.vo.ArticlePictureStandardVO">
        <id column="id" property="id"/>
        <result column="article_id" property="articleId"/>
        <result column="url" property="url"/>
        <result column="description" property="description"/>
        <result column="width" property="width"/>
        <result column="height" property="height"/>
        <result column="is_cover" property="isCover"/>
        <result column="sort" property="sort"/>
    </resultMap>

    <sql id="ListQueryFields">
        <if test="true">
            id, article_id, url, description, width, height, is_cover, sort
        </if>
    </sql>

    <resultMap id="ListResultMap" type="cn.tedu.fitnessClub.pojo.vo.ArticlePictureListItemVO">
        <id column="id" property="id"/>
        <result column="article_id" property="articleId"/>
        <result column="url" property="url"/>
        <result column="description" property="description"/>
        <result column="width" property="width"/>
        <result column="height" property="height"/>
        <result column="is_cover" property="isCover"/>
        <result column="sort" property="sort"/>
    </resultMap>

</mapper>