<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.fitnessClub.mapper.ArticleMapper">

    <!-- int insert(Article article); -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO bms_article (
            category_id, category_name, title, description, content,  sort
        ) VALUES (
            #{categoryId}, #{categoryName}, #{title}, #{description},
            #{content}, #{sort}
        )
    </insert>

    <!-- int insertBatch(List<Article> articleList); -->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO bms_article (
            category_id, category_name, title, description, content, sort
        ) VALUES
        <foreach collection="list" item="article" separator=",">
            (#{article.categoryId}, #{article.categoryName}, #{article.title}, #{article.description},
            #{article.content}, #{article.sort})
        </foreach>
    </insert>

    <!-- int deleteById(Long id); -->
    <delete id="deleteById">
        DELETE FROM bms_article WHERE id=#{id}
    </delete>

    <!-- int deleteByIds(Long[] ids); -->
    <delete id="deleteByIds">
        DELETE FROM bms_article WHERE id IN (
            <foreach collection="array" item="id" separator=",">
                #{id}
            </foreach>
        )
    </delete>

    <!-- int update(Article article); -->
    <update id="update">
        UPDATE bms_article
        <set>
            <if test="title != null">
                title=#{title},
            </if>
            <if test="description != null">
                description=#{description},
            </if>
            <if test="content != null">
                content=#{content},
            </if>
            <if test="sort != null">
                sort=#{sort},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <!-- int count(); -->
    <select id="count" resultType="int">
        SELECT count(*) FROM bms_article
    </select>

    <!-- int countByCategoryId(Long categoryId); -->
    <select id="countByCategoryId" resultType="int">
        SELECT count(*) FROM bms_article WHERE category_id=#{categoryId}
    </select>

    <!-- int countByTitle(String title); -->
    <select id="countByTitle" resultType="int">
        SELECT count(*) FROM bms_article WHERE title=#{title}
    </select>

    <!-- int countByNameAndNotId(@Param("id") Long id, @Param("name") String title); -->
    <select id="countByNameAndNotId" resultType="int">
        SELECT count(*) FROM bms_article WHERE title=#{title} AND id!=#{id}
    </select>

    <!-- ArticleStandardVO getStandardById(Long id); -->
    <select id="getStandardById" resultMap="StandardResultMap">
        SELECT
            <include refid="StandardQueryFields"/>
        FROM
        bms_article
        WHERE
            id=#{id}
    </select>

    <!-- List<ArticleListItemVO> listByCategoryId(Long categoryId); -->
    <select id="listByCategoryId" resultMap="ListResultMap">
        SELECT
        <include refid="ListQueryFields"/>
        FROM
        bms_article
        WHERE
        category_id=#{categoryId}
        ORDER BY
        sort DESC, id DESC
    </select>

    <!-- List<ArticleListItemVO> list(); -->
    <select id="list" resultMap="ListResultMap">
        SELECT
        <include refid="ListQueryFields"/>
        FROM
        bms_article
        ORDER BY
        sort DESC, id DESC
    </select>

    <sql id="StandardQueryFields">
        <if test="true">
            id,category_id,category_name,title,description,content,view_count,sort
        </if>
    </sql>

    <sql id="ListQueryFields">
        <if test="true">
            id,category_id,category_name,title,description,content,view_count,sort
        </if>
    </sql>

    <resultMap id="StandardResultMap" type="cn.tedu.fitnessClub.pojo.vo.ArticleStandardVO">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="category_name" property="categoryName"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="content" property="content"/>
        <result column="view_count" property="viewCount"/>
        <result column="sort" property="sort"/>
    </resultMap>

    <resultMap id="ListResultMap" type="cn.tedu.fitnessClub.pojo.vo.ArticleListItemVO">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="category_name" property="categoryName"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="content" property="content"/>
        <result column="view_count" property="viewCount"/>
        <result column="sort" property="sort"/>
    </resultMap>



</mapper>